<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STUDOCS</title>
  <link href="/assets/img/logo.png" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

  <link rel="stylesheet" href="/css/request.css">
  
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand logo" href="#">
      <img src="/assets/img/logo.png" alt="Studocs">
      STUDOCS
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" onclick="window.location.href='/student/<%= id%>'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" data-target="#myModal" data-toggle="modal">Sign Out <i class="fa fa-sign-out"></i></a>
        </li>
      </ul>
    </div>
  </nav> 
 <div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 side1">
      <h4 style="margin-left: 20px;"><u>Application Forms</u></h4>
        <div class="col-lg-12 panel2">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Forms</th>
                <th>Action</th>
              </tr>
            </thead>
          <tbody>
            <% for (let i = 0; i < forms.length; i++) { id1= forms[i].formid %>
              <tr>
                <td ><%=id1%></td>
                <td><%= forms[i].name %></td>
                <td><%= forms[i].attachment %></td>
                <td>
                  <button type="button" class="btn btn-success view-button" id="<%= forms[i].formid %>" onclick="fetchid()" data-form-id="<%= forms[i].formid %>">view</button>

                </td>
              </tr>
            <% } %>
          </tbody>
          </table>
        </div> 
      </div>
    <div class="col-sm-6 side2">
      <div class="d-flex justify-content-center align-items-center">
       
        <div class="col-sm-6 panel" id="displayContainer">
          <!-- Existing code for the panel -->

        </div>
       
        
      </div>
      
      <br>
      <a class="nav-link active btn-danger edit-button col-sm-3" href="#" data-target="#pub" data-toggle="modal">Edit</a>
    </div>
  </div>
              
      </div>
    </div>
    </div>
      
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sign Out</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        Do you want to sign out?
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger " data-dismiss="modal" onclick="window.location.href='/logout'" >Sign Out</button>
      </div>
    </div>
  </div>
</div>
  <!-- Form not selected modal -->
  <div class="modal fade" id="formNotSelectedModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Form Not Selected</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Please select a form to proceed.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <script>
                 let selectedFormId; // Variable to store the selected form ID

              function fetchid() {
                // Get the selected form ID from the clicked button's data attribute
                selectedFormId = event.target.dataset.formId;
                console.log('Selected Form ID:', selectedFormId);
              }
              
document.addEventListener('DOMContentLoaded', function() {
                const viewButtons = document.querySelectorAll('.view-button');
                const editButton = document.querySelectorAll('.edit-button');
  const subButton = document.querySelectorAll('.sub-button');
                const displayContainer = document.getElementById('displayContainer');

  viewButtons.forEach(function(button) {
    button.addEventListener('click', function(event) {
      fetchid(); // Call the fetchid() function to save the form ID

      // Make a request to fetch the HTML content from the server
      fetch(`/form/${selectedFormId}`)
        .then(response => response.text())
        .then(html => {
          // Update the HTML content of the display container
          displayContainer.innerHTML = html;
        })
        .catch(error => console.error(error));
    });
  });

  editButton.forEach(function(button) {
    button.addEventListener('click', function(event) {
      if (selectedFormId === undefined) {
        // Display the "Form Not Selected" modal
        $('#formNotSelectedModal').modal('show');
      } else {
        console.log('Selected Form ID is:', selectedFormId);
        // Redirect to the edit page with the selected form ID
        window.location.href = `/edit?Formid=${selectedFormId}&id=<%= id%>`;
      }
    });
  });
});
</script>
<script>
  function updateId(id) {
    document.getElementById('id1').innerHTML = id;
  }


  const urlParams = new URLSearchParams(window.location.search);
  const alertMessage = urlParams.get('alertMessage');

  // Check if the "alertMessage" parameter exists and display an alert
  if (alertMessage) {
    // Use a timeout to ensure the alert is shown after the page is loaded
    setTimeout(function() {
      alert(alertMessage);
    }, 0);
  }
</script>


</body>
</html>